<aside class="sub-menu">
  <h6>GETTING STARTED</h6>
  <ul class="list-unstyled">
    <li class="{% if page.title == 'installation' %}active{% endif %}">
      <a href="/documentation/installation">Installation</a>
    </li>
  </ul>
  <h6>CORE API</h6>
  <ul class="list-unstyled">
    <li class="{% if page.permalink == '/documentation/core/clip' %}active{% endif %}">
      <a href="/documentation/core/clip">clip</a>
      {% if page.permalink == '/documentation/core/clip' %}
      <ul>
        <li><a href="#notes">notes</a></li>
        <li><a href="#pattern">pattern</a></li>
        <li><a href="#subdiv">subdiv</a></li>
        <li><a href="#shuffle">shuffle</a></li>
        <li><a href="#sizzle">sizzle</a></li>
        <li><a href="#accent">accent</a></li>
      </ul>
      {% endif %}
    </li>
    <li class="{% if page.title == 'scale' %}active{% endif %}">
      <a href="/documentation/core/scale">scale</a>
    </li>
    <li class="{% if page.title == 'chord' %}active{% endif %}">
      <a href="/documentation/core/chord">chord</a>
    </li>
    <li class="{% if page.title == 'arp' %}active{% endif %}">
      <a href="/documentation/core/arp">arp</a>
    </li>
    <li class="{% if page.title == 'progression' %}active{% endif %}">
      <a href="/documentation/core/progression">progression</a>
    </li>
    <li class="{% if page.title == 'midi' %}active{% endif %}">
      <a href="/documentation/core/midi">midi</a>
    </li>
  </ul>

  <h6>CLI</h6>
  <ul class="list-unstyled">
    <li class="{% if page.title == 'cli' %}active{% endif %}">
      <a href="/documentation/cli">cli</a>
    </li>
  </ul>

  <h6>Browser</h6>
  <ul class="list-unstyled">
    <li class="{% if page.permalink == '/documentation/browser/clip' %}active{% endif %}">
      <a href="/documentation/browser/clip">clip</a>
    </li>
    <li class="{% if page.title == 'session' %}active{% endif %}">
      <a href="/documentation/browser/session">session</a>
    </li>
    <li class="{% if page.title == 'channel' %}active{% endif %}">
      <a href="/documentation/browser/channel">channel</a>
    </li>
  </ul>
</aside>
