<aside>
	<h6>Core</h6>
	<ul>
		<li><a href="/documentation/core/clip">clip</a></li>
		<li><a href="/documentation/core/scale">scale/mode</a></li>
		<li><a href="/documentation/core/chord">chord</a></li>
		<li><a href="/documentation/core/progression">progression</a></li>
		<li><a href="/documentation/core/midi">midi</a></li>
	</ul>

	<h6>Browser</h6>
	<p>Contains all the methods from Core as well as the following</p>
	<ul>
		<li><a href="/documentation/browser/loop">loop</a></li>
		<li><a href="/documentation/browser/channel">channel</a></li>
		<li><a href="/documentation/browser/session">session</a></li>
	</ul>
</aside>