<aside class="sub-menu">
	<h6>EXAMPLES</h6>
	<ul class="list-unstyled">
		<li {% if page.title == 'random-chords' %} class="active" {% endif %}><a href="/examples/random-chords">Random
				chords</a></li>
		<li {% if page.title == 'chord-progressions' %} class="active" {% endif %}><a
				href="/examples/chord-progressions">Chord progressions</a></li>
		<li {% if page.title == 'riff' %} class="active" {% endif %}><a href="/examples/riff">Riff</a></li>
		<li {% if page.title == 'breakbeats' %} class="active" {% endif %}><a href="/examples/breakbeats">Classic
				breakbeats</a></li>
		<li {% if page.title == 'beat' %} class="active" {% endif %}><a href="/examples/beat2">Drumloop with a bassline</a>
		</li>
		<li {% if page.title == 'melody' %} class="active" {% endif %}><a href="/examples/melody">Melody</a></li>
		<li {% if page.title == 'beat' %} class="active" {% endif %}><a href="/examples/beat">Beat (browser)</a></li>
	</ul>
</aside>
