<footer class="text-muted">
  <div class="container d-flex justify-content-end">
    <nav class="my-2 my-md-0 mr-auto">
			<a class="p-1" href="/about">About</a>
			<a class="p-1 desktop-el" href="https://github.com/scribbletune/scribbletune.com/issues/new">Report an issue</a>
		</nav>
		<nav class="my-2 my-md-0 mr-md-3">
			<span class="desktop-el">For new sounds &amp; features, please follow on</span>
			<iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fscribbletune&color=orange_transparent&size=32" style="width: 32px; height: 21px;"></iframe><a href="https://soundcloud.com/scribbletune" class="desktop-el soundcloud-link">Soundcloud</a>
			<span class="desktop-el">or</span>
			<a href="https://twitter.com/_walmik" class="twitter-link"><i class="p-1 icon icon-twitter"></i><span class="desktop-el">Twitter</span></a>
		</nav>
  </div>
</footer>
<script type="text/javascript">
	document.querySelectorAll('.highlight').forEach(function(el) {
		el.classList.add('prettyprint')
	});
</script>
<script src="/js/prettify.js"></script>