<footer>
	<div class="container d-flex justify-content-end">
		<nav class="my-2 my-md-0 mr-auto">
			<a class="p-1" href="/about">About</a>
			<a class="p-1 inline-when-visible" href="https://github.com/scribbletune/scribbletune/issues">Report an
				issue</a>
		</nav>
		<nav class="my-2 my-md-0 mr-md-3 dim threeQuarters">
			<span class="flipX">&copy;</span> 2021
		</nav>
	</div>
</footer>
<script type="text/javascript">
	document.querySelectorAll('.highlight').forEach(function (el) {
		el.classList.add('prettyprint')
	});
</script>
<script src="/js/prettify.js"></script>