<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="midi, music, ableton, live, webaudio" />
  <meta name="description" content="Create music with JavaScript" />
  <meta name="author" content="Walmik Deshpande" />

  <title>
    {{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}
  </title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/icons.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/pretty.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.43/Tone.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/scribbletune/3.12.1/scribbletune.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-8347688-20"
  ></script>
  <script>
    if (window.location.hostname !== "localhost") {
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-8347688-20");
    }
  </script>
</head>
