<a href="https://github.com/scribbletune/scribbletune"><img class="social-icon" src="/images/icons/gh.svg" alt="Star on Github" /></a>
<a href="https://www.youtube.com/channel/UC0OiF7m8xqtgzF02DZDoEcQ"><img class="social-icon" src="/images/icons/yt.svg" alt="Subscribe on YouTube" /></a>
<a href="https://www.facebook.com/Scribbletune-163020542130620"><img class="social-icon" src="/images/icons/fb.svg" alt="Hit Like on Facebook" /></a>
<a href="https://twitter.com/_walmik"><img class="social-icon" src="/images/icons/tw.svg" alt="Follow on Twitter" /></a>
<a href="https://soundcloud.com/scribbletune"><img class="social-icon" src="/images/icons/sc.svg" alt="Follow for new sounds" /></a>
