<!-- <div class="announcement">
🔔 <a href="https://github.com/scribbletune/scribbletune/issues">v4 has just been released, please submit issues here</a> 🔔
</div> -->
<div class="d-flex justify-content-end top-nav">
  <div class="mr-auto">
    <a href="/">
      <div class="logo">{{ site.title }}</div>
    </a>
  </div>
  <nav>
    <ul class="list-inline m-0 p-0"></ul>
    <li class="list-inline-item"><a class="p-3" href="/documentation">
        <i class="icon icon-help"></i> <span class="inline-when-visible">Documentation</span>
      </a></li>
    <li class="list-inline-item"><a class="p-3" href="/examples">
        <i class="icon icon-music"></i> <span class="inline-when-visible">Examples</span>
      </a></li>
    <!-- <li class="list-inline-item"><a class="p-3" href="/events">
        <i class="icon icon-video"></i> <span class="inline-when-visible">Events</span>
      </a></li> -->
    <!-- <li class="list-inline-item"><a class="p-3" href="https://github.com/scribbletune/scribbletune">
        <i class="icon icon-star"></i> <span class="inline-when-visible">Github</span>
      </a></li> -->
    </ul>
  </nav>
</div>