*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
    height: 100%;
}

pre {
    text-align: left;
}

footer {
    margin: 60px 20px;
}

a {
    color: #379e97;
}

a:hover {
    color: #379e97;
}

aside h6 {
    color: silver;
    text-transform: uppercase;
}

.logo {
	width: 55px;
    height: 55px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url(/images/scribbletune-logo.png);
    background-size: 55px;
    background-repeat: no-repeat;
    background-position: center;
}

.documentation {
    h4, h5, h6 {
        margin-top: 20px;
    }

    img {
        max-width: 100%;
    }
}

.active a {
    font-weight: bold;
}