@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: 1.7;
}

body {
  background-color: #262b33;
  color: #c3c8d1;
  font-family: "Lato", sans-serif;
}

pre {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 1.5rem;
}

footer {
  margin: 60px 10px;
}

a {
  color: #34a4e6;
}

a:hover {
  color: #257eb3;
  text-decoration: none;
}

h5 a {
  color: #f7da4a;
}

h5 a:hover {
  color: white;
}

.sub-menu h6 {
  color: #4a4f53;
  text-transform: uppercase;
}

.sub-menu a {
  color: #d4dbe0;
}

sup {
  font-size: 0.5em;
  background-color: #ff5501;
  padding: 3px;
  color: white;
  font-weight: bold;
}

.site-container {
  min-height: 70%;
  margin-top: 60px;
}
.announcement {
  background-color: #8d4141;
  padding: 5px;
  text-align: center;
  a {
    color: white;
    font-weight: bold;
  }
}
.top-nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  nav {
    background: #262b33;
  }
  li:not(:last-child) {
    border-right: 1px solid #262b33;
    margin-right: 0;
  }
  li {
    a {
      display: block;
      color: white;
    }
    a:hover {
      background: black;
      color: white;
    }
  }
}

.top-nav a,
footer a {
  color: white;
}

.logo {
  width: 40px;
  height: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(/images/scribbletune-logo.png);
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 8px;
}

.content,
.sub-menu {
  padding-top: 30px;
}

.content {
  h4,
  h5,
  h6 {
    margin-top: 40px;
  }

  img {
    max-width: 100%;
  }
}

.active a {
  font-weight: bold;
  color: #6e8bce;
}

.active ul li a {
  font-weight: normal;
  color: gray;
}

.soundcloud-link,
.soundcloud-link:hover,
.icon-heart {
  color: #ff5500;
}

.twitter-link,
.twitter-link:hover {
  color: #1aa1f1;
}

.inline-when-visible {
  display: none;
}

.flex {
  display: flex;
  justify-content: space-around;
  div {
    padding: 10px;
  }
}

.pad {
  padding: 10px;
  margin: 10px 0;
}

.dim {
  opacity: 0.5;
}

.half {
  transform: scale(0.5);
  font-size: smaller;
}

pre.prettyprint {
  border-color: #3c3c3c !important;
}

.examples {
  h5 {
    margin-bottom: 1rem;
  }
  iframe {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .sub-menu {
    position: fixed;
  }

  .inline-when-visible {
    display: inline-block;
  }
}

.content h4,
.content h5,
.content h6 {
  margin-top: 10px;
}

/*Phone*/
@media (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
}
