<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{% include head.html %}
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
			<h5 class="my-0 mr-md-auto font-weight-normal">{{ site.title }}</h5>
			<nav class="my-2 my-md-0 mr-md-3">
				<a class="p-2 text-dark" href="/documentation">Documentation</a>
				<a class="p-2 text-dark" href="#">Examples</a>
				<a class="p-2 text-dark" href="#">Github</a>
			</nav>
			<!-- <a class="btn btn-outline-primary" href="#">Sign up</a> -->
		</div>
		<section>
			{{ content }}
		</section>
		{% include footer.html %}
	</body>
</html>